@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?p1def5');
  src:  url('../fonts/icomoon.eot?p1def5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?p1def5') format('truetype'),
    url('../fonts/icomoon.woff?p1def5') format('woff'),
    url('../fonts/icomoon.svg?p1def5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhaopin:before {
  content: "\e903";
}
.icon-luntan:before {
  content: "\e904";
}
.icon-fangfa:before {
  content: "\e905";
}
.icon-falv:before {
  content: "\e906";
}
.icon-map:before {
  content: "\e907";
}
.icon-zixun:before {
  content: "\e908";
}
.icon-peixun:before {
  content: "\e900";
}
.icon-huiyuan:before {
  content: "\e901";
}
.icon-wuliu:before {
  content: "\e902";
}
